# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
.out/
.tmp/
public/build/
.eslintcache
.cache/

# Environment
.env
.env.local
.env.*.local

# Framework-specific
.next/
.nuxt/
out/
.vercel/
.svelte-kit/
.vite/
rollup-cache/
parcel-cache/

# OS
.DS_Store
Thumbs.db

.gitignore